{% extends 'base.html' %}
{% load static %}
{% block title %}Account Settings{% endblock %}

{% block content %}

<style>
    .profile-pic {
        max-width: 200px;
        max-height: 200px;
        margin: 0 auto;
        border-radius: 50%;
    }
</style>

<section class="container-fluid">
    <div class="row">
        <div class="col-md-3">
            <div class="card card-body">
                <a href="{% url 'accounts:home' %}" class="btn btn-warning">&#8592; Back to Profile</a>
                <hr>
                <h3 style="text-align: center">Account Settings</h3>
                <hr>
                {% if user.customer.profile_pic %}
                    <img src="{{ user.customer.profile_pic.url }}" alt="Profile Pic" class="profile-pic">
                {% else %}
                    <img src="{% static 'accounts/img/default.jpg' %}" alt="Profile Pic" class="profile-pic">
                {% endif %}
            </div>
        </div>

        <div class="col-md-9">
            <div class="card card-body">
                <form action="" method="POST" enctype="multipart/form-data">
                    {% csrf_token %}
                    {{ form.as_p }}
                    <input type="submit" class="btn btn-primary" name="Update Information">
                </form>
            </div>
        </div>
    </div>
</section>

{% endblock %}